<div class="container mt-5">
  <div class="row">
    <div class="card bg-light col-8 mt-3 mx-auto rounded">
      <div class="card-body text-center">
        <h1 class="card-title mb-5">Account Login</h1>

        <form action="/" method="POST">
          <div class="mb-2">
            <input type="email" class="form-control" id="account-email" name="userEmail" placeholder="Email">
          </div>
          <div class="mb-5">
            <input type="password" class="form-control" id="account-password" name="userPassword"
              placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">
            <h4>Sign In</h4>
          </button>
        </form>
      </div>
    </div>
    {{!-- <div class="col-12 mt-3 text-center">
      <h1>Account Login</h1>
    </div>
    <div class="col-6 mt-3 text-center mx-auto">
      <form action="/" method="POST">
        <div class="mb-2">
          <input type="email" class="form-control" id="account-email" name="userEmail" placeholder="Email">
        </div>
        <div class="mb-2">
          <input type="password" class="form-control" id="account-password" name="userPassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
      </form>
    </div> --}}
  </div>

</div>